@{
    ViewData["title"] = "Home";
}

<h2>This Webapp Service is built and maintained by Enoh and ZEN</h2>

<div class="jumbotron">
    <h3>@ViewData["message_short"]</h3>
    <p>@ViewData["message_long"]</p>
</div>
